**/bin/**
**/obj/**
**/launchsettings.json
RetroEditor/bin/**
RetroEditor/obj/**
.vscode/**
.vs/**
*.swp
*.ini
Data/**
Temp/**
Mame/**
Logs/**
Projects/**
Properties/**
Plugins/.vscode/**
Plugins/bin/**
Plugins/obj/**
Plugins/*.sln
ReferenceAssemblies/RetroEditor.dll
ReferenceAssemblies/SystemPlugins.dll
settings.json
