**/bin/**
**/obj/**
RetroEditor/bin/**
RetroEditor/obj/**
.vscode/**
.vs/**
*.swp
*.sln
*.ini
Data/**
Temp/**
Logs/**
Projects/**
Properties/**
Plugins/.vscode/**
Plugins/bin/**
Plugins/obj/**
Plugins/*.sln
ReferenceAssemblies/RetroEditor.dll
ReferenceAssemblies/SystemPlugins.dll
settings.json
