
name: .NET

on: push

permissions:
  contents: write

jobs:
  buildAndTest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-11-arm, macos-latest, windows-latest, ubuntu-24.04-arm64] # ubuntu-x64 is covered in buildAndTestAndPackage
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Test
      run: dotnet test RetroEditor.sln --verbosity normal

  buildAndTestAndPackage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Setup DocFX
      run: dotnet tool install -g docfx      
    - name: Restore
      run: dotnet restore RetroEditor.sln
    - name: Build Debug
      run: dotnet build -c Debug RetroEditor.sln --no-restore
    - name: Test
      run: dotnet test RetroEditor.sln --no-build --no-restore --verbosity normal
    - name: Build Windows X64
      run: dotnet publish -r win-x64 RetroEditor.sln
    - name: Build Windows Arm64
      run: dotnet publish -r win-arm64 RetroEditor.sln
    - name: Build Linux X64
      run: dotnet publish -r linux-x64 RetroEditor.sln
    - name:  Build Linux Arm64
      run: dotnet publish -r linux-arm64 RetroEditor.sln
    - name: Build MacOS Arm64
      run: dotnet publish -r osx-arm64 RetroEditor.sln
    - name: Archive Windows X64
      uses: actions/upload-artifact@v4
      with:
        name: Windows-X64
        path: RetroEditorApplication/bin/Release/net10.0/win-x64/publish
    - name: Archive Windows Arm64
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Arm64
        path: RetroEditorApplication/bin/Release/net10.0/win-arm64/publish
    - name: Archive Linux X64
      uses: actions/upload-artifact@v4
      with:
        name: Linux-X64
        path: RetroEditorApplication/bin/Release/net10.0/linux-x64/publish
    - name: Archive Linux Arm64
      uses: actions/upload-artifact@v4
      with:
        name: Linux-Arm64
        path: RetroEditorApplication/bin/Release/net10.0/linux-arm64/publish
    - name: Archive Macos Arm64
      uses: actions/upload-artifact@v4
      with:
        name: MacOS-Arm64
        path: RetroEditorApplication/bin/Release/net10.0/osx-arm64/publish
    - name: DocFX Build
      run: cd docfx && docfx docfx.json
      continue-on-error: false
    - name: Archive Docs
      uses: actions/upload-artifact@v4
      with:
        name: Docs
        path: docfx/_site
    - name: Publish
      if: github.ref == 'refs/heads/main'
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docfx/_site
        force_orphan: true
